:root {
    --cor-primaria: #78C1F3;
    --cor-secundaria: #E2F6CA;
    --cor-terciaria: #F8FDCF;
    --cor-quaternaria: #9BE8D8;
}

.body-login,
.body-home,
.body-clientes,
.body-estoque,
.body-contas-a-pagar,
.body-estatisticas {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(-45deg, var(--cor-secundaria), var(--cor-primaria));
}

/* -------------------- css login -------------------- */
.body-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    padding: 50px 0px;
    height: 30%;
    width: 700px;
    margin-bottom: 5%;
}

.div-login {
    text-align: center;
    width: 100%;
}

.div-login label {
    font-size: 1.5rem;
}

.div-login input {
    background-color: var(--cor-terciaria);
    border-width: 0.1px;
}

#senha {
    margin-left: 16px;
}

.btn-login {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-login:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}

/* -------------------- media querry login -------------------- */
@media(max-width: 768px) {
    .main-login {
        width: 260px;
    }

    #senha {
        margin-left: 0px;
        margin-bottom: 15px;
    }
}

/* -------------------- css header -------------------- */
.body-home,
.body-clientes,
.body-estoque,
.body-contas-a-pagar,
.body-estatisticas {
    display: flex;
}

.body-home header,
.body-clientes header,
.body-estoque header,
.body-contas-a-pagar header,
.body-estatisticas header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0884d6;
    height: 100vh;
    width: 200px;
    border-right-width: 1.5px;
    border-right-color: #5f5f5f;
    border-right-style: solid;
}

.logo-header {
    width: 100px;
}

.div-inicio-header {
    height: 70%;
    margin-top: 30px;
}

.div-inicio-header ul {
    list-style-type: none;
    padding: 0px 5px;
}

#vendas-li,
#clientes-li,
#estoque-li,
#contas-a-pagar-li,
#estatisticas-li {
    border-bottom: 1px solid;
}

.div-inicio-header ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icones-menu {
    width: 35px;
    margin-right: 5px;
}

#vendas-a,
#clientes-a,
#estoque-a,
#contas-a-pagar-a,
#estatisticas-a {
    color: #000000;
}

.div-inicio-header ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3c3c;
    font-size: 1.2rem;
}

.div-meio-header {
    margin-bottom: 50px;
}

.btn-sair {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 0px 20px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-sair:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}

.div-final-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.incial-do-nome {
    background-color: var(--cor-quaternaria);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 5px;
    font-weight: bold;
}

.nome-do-usuario {
    font-size: 1.2rem;
    margin-left: 5px;
    font-weight: bold;
}

/* -------------------- css vendas -------------------- */
.main-home {
    width: calc(100vw - 220px);
    margin-left: 20px;
}

.cabecalho-vendas, .sub-cabecalho-vendas {
    list-style: none;
    padding: 0px;
}

.cabecalho-vendas li a, .sub-cabecalho-vendas li a {
    text-decoration: none;
    color: #000000;
}

.cabecalho-vendas {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cabecalho-vendas li {
    margin-right: 100px;
}

#impressora-li {
    border-left: 2px solid #5f5f5f;
    padding-left: 30px;
}

#impressora-li button {
    background-color: #ffffff00;
    border: 0;
}

.cabecalho-vendas li a {
    font-size: 1.2rem;
    font-weight: bold;
}

.icones-vendas {
    width: 35px;
}

.sub-cabecalho-vendas {
    display: flex;
    align-items: center;
}

.sub-cabecalho-vendas li {
    margin-right: 30px;
}

#ultimas-vendas, #pedidos-em-aberto, #orcamentos {
    text-decoration: underline;
}