:root {
    --cor-primaria: #78C1F3;
    --cor-secundaria: #E2F6CA;
    --cor-terciaria: #F8FDCF;
    --cor-quaternaria: #9BE8D8;
}

.body-login,
.body-home,
.body-clientes,
.body-estoque,
.body-contas-a-pagar,
.body-estatisticas {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(-45deg, var(--cor-secundaria), var(--cor-primaria));
}

/* -------------------- css login -------------------- */
.body-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    padding: 50px 0px;
    height: 30%;
    width: 700px;
    margin-bottom: 5%;
}

.div-login {
    text-align: center;
    width: 100%;
}

.div-login label {
    font-size: 1.5rem;
}

.div-login input {
    background-color: var(--cor-terciaria);
    border-width: 0.1px;
}

#senha {
    margin-left: 16px;
}

.btn-login {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-login:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}

/* -------------------- media querry login -------------------- */
@media(max-width: 768px) {
    .main-login {
        width: 260px;
    }

    #senha {
        margin-left: 0px;
        margin-bottom: 15px;
    }
}

/* -------------------- css header lateral -------------------- */
.body-home,
.body-clientes,
.body-estoque,
.body-contas-a-pagar,
.body-estatisticas {
    display: flex;
}

.body-home header,
.body-clientes header,
.body-estoque header,
.body-contas-a-pagar header,
.body-estatisticas header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0884d6;
    height: 100vh;
    width: 200px;
    border-right-width: 1.5px;
    border-right-color: #5f5f5f;
    border-right-style: solid;
}

.logo-header {
    width: 100px;
}

.div-inicio-header {
    height: 70%;
    margin-top: 30px;
}

.div-inicio-header ul {
    list-style-type: none;
    padding: 0px 5px;
}

#vendas-li,
#clientes-li,
#estoque-li,
#contas-a-pagar-li,
#estatisticas-li {
    border-bottom: 1px solid;
}

.div-inicio-header ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icones-menu {
    width: 35px;
    margin-right: 5px;
}

#vendas-a,
#clientes-a,
#estoque-a,
#contas-a-pagar-a,
#estatisticas-a {
    color: #000000;
}

.div-inicio-header ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3c3c;
    font-size: 1.2rem;
}

.div-meio-header {
    margin-bottom: 50px;
}

.btn-sair {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 0px 20px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-sair:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}

.div-final-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.incial-do-nome {
    background-color: var(--cor-quaternaria);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 5px;
    font-weight: bold;
}

.nome-do-usuario {
    font-size: 1.2rem;
    margin-left: 5px;
    font-weight: bold;
}

/* -------------------- css vendas -------------------- */
.main-home,
.main-nova-venda,
.main-clientes,
.main-estoque,
.main-contas-a-pagar {
    width: calc(100vw - 220px);
    margin-left: 20px;
    padding-right: 20px;
}

/* -------------------- css vendas cabeçalho -------------------- */
.cabecalho-vendas,
.sub-cabecalho-vendas,
.cabecalho-clientes,
.cabecalho-estoque,
.cabecalho-contas-a-pagar {
    list-style: none;
    padding: 0px;
}

.cabecalho-vendas li a,
.sub-cabecalho-vendas li a,
.cabecalho-clientes li a,
.cabecalho-estoque li a,
.cabecalho-contas-a-pagar li a {
    text-decoration: none;
    color: #000000;
}

.cabecalho-vendas,
.cabecalho-clientes,
.cabecalho-estoque,
.cabecalho-contas-a-pagar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cabecalho-vendas li,
.cabecalho-clientes li,
.cabecalho-estoque li,
.cabecalho-contas-a-pagar li {
    margin-right: 100px;
}

#impressora-li {
    border-left: 2px solid #5f5f5f;
    padding-left: 30px;
}

#impressora-li button {
    background-color: #ffffff00;
    border: 0;
}

.cabecalho-vendas li a,
.cabecalho-clientes li a,
.cabecalho-estoque li a,
.cabecalho-contas-a-pagar li a {
    font-size: 1.2rem;
    font-weight: bold;
}

.icones-vendas {
    width: 35px;
}

.sub-cabecalho-vendas {
    display: flex;
    align-items: center;
}

.sub-cabecalho-vendas li {
    margin-right: 30px;
}

#ultimas-vendas,
#pedidos-em-aberto,
#orcamentos {
    text-decoration: underline;
}

/* -------------------- css vendas corpo da tela (tabelas e informações) -------------------- */
.secao-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-secao-home {
    width: 100%;
}

.div-secao-home ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.div-secao-home ul li {
    display: flex;
    align-items: center;
}

.negrito {
    font-weight: bold;
}

.venda-id,
.venda-data,
.venda-hora,
.venda-cliente,
.venda-vendedor,
.venda-total,
.orcamento-id,
.orcamento-data,
.orcamento-hora,
.orcamento-cliente,
.orcamento-vendedor,
.orcamento-total,
.pedido-em-aberto-id,
.pedido-em-aberto-data,
.pedido-em-aberto-hora,
.pedido-em-aberto-cliente,
.pedido-em-aberto-vendedor,
.pedido-em-aberto-total {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #d4d4d4;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font-size: 1rem;
    margin: 0px;
    height: 56px;
}

.venda-id,
.orcamento-id,
.pedido-em-aberto-id {
    width: 13%;
}

.venda-data,
.orcamento-data,
.pedido-em-aberto-data {
    width: 10%;
}

.venda-hora,
.orcamento-hora,
.pedido-em-aberto-hora {
    width: 6%;
}

.venda-cliente,
.orcamento-cliente,
.pedido-em-aberto-cliente {
    width: 25%;
}

.venda-vendedor,
.orcamento-vendedor,
.pedido-em-aberto-vendedor {
    width: 25%;
}

.venda-total,
.orcamento-total,
.pedido-em-aberto-total {
    width: 15%;
    border-right: 1px solid;
}

.div-botoes-editar-excluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    margin-left: 1%;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

.botao-editar,
.botao-excluir {
    background-color: #ffffff00;
    border: 0px;
    margin: 0px;
    padding: 0px;
    transition: 0.1s all;
}

.botao-editar:hover,
.botao-excluir:hover {
    text-decoration: underline;
}

.botao-editar:active,
.botao-excluir:active {
    transform: scale(0.98);
}

.botao-editar {
    margin-bottom: 3px;
}

.botao-editar:hover {
    color: #008000;
}

.botao-editar:active {
    color: #034e03;
}

.botao-excluir {
    margin-top: 3px;
}

.botao-excluir:hover {
    color: #ff0000;
}

.botao-excluir:active {
    color: #a50606;
}

/* -------------------- css vendas - tela Nova Venda -------------------- */
.section-novo-produto {
    display: flex;
    margin-top: 20px;
}

.div-pesquisar-produto {
    width: 50%;
}

#pesquisar-produto,
#pesquisar-cliente {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--cor-terciaria);
}

#sugestoes-de-produto,
#sugestoes-de-cliente {
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--cor-terciaria);
}

.sugestao-de-produto,
.sugestao-de-cliente {
    padding: 5px;
    cursor: pointer;
}

.sugestao-de-produto:hover,
.sugestao-de-cliente:hover {
    background-color: #f0f0f0;
}

.div-informacao-produto {
    display: flex;
    align-items: flex-start;
    width: 50%;
    padding-left: 20px;
}

.div-infos {
    display: flex;
    align-items: center;
}

.label-qtd {
    padding-left: 5px;
    border-left: 1px solid;
}

#qtd-produto {
    background-color: var(--cor-terciaria);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    width: 15%;
}

.preco-produto,
.subtotal-produto {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid;
    margin-bottom: 0px;
}

.subtotal-produto {
    padding-right: 10px;
    border-right: 1px solid;
}

.btn-lancar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    background-color: #ffffff00;
    border: 0px;
}

.icone-enter {
    width: 46px;
    height: 46px;
    transition: 0.1s all;
}

.icone-enter:active {
    transform: scale(0.90);
}

.section-cliente {
    margin-top: 20px;
    display: flex;
}

.div-pesquisar-cliente {
    width: 50%;
}

.btn-add-cliente {
    background-color: #ffffff00;
    border-radius: 50%;
    padding: 5px;
    margin-left: 30px;
}

.img-add-cliente {
    width: 35px;
}

.section-observacoes {
    margin-top: 20px;
}

#obs-entrega {
    background-color: var(--cor-terciaria);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
    margin-left: 10px;
}

.section-listagem-produtos {
    margin-top: 20px;
    height: 50%;
    border: 1px solid;
    border-radius: 5px;
}

.div-listagem-produtos {
    background-color: #ccc;
    border-radius: 5px;
    height: 100%;
}

.section-desconto {
    margin-top: 20px;
}

.section-desconto select, .section-desconto input {
    height: 30px;
    background-color: var(--cor-terciaria);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

/* -------------------- css clientes -------------------- */
.cliente-id,
.cliente-nome,
.cliente-cpf,
.cliente-telefone,
.cliente-endereco {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #d4d4d4;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font-size: 1rem;
    margin: 0px;
    height: 56px;
}

.cliente-id {
    width: 13%;
}

.cliente-nome {
    width: 25%;
}

.cliente-cpf {
    width: 12%;
}

.cliente-telefone {
    width: 13%;
}

.cliente-endereco {
    width: 31%;
    border-right: 1px solid;
}

/* -------------------- css clientes - novo cliente -------------------- */
.novo-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f5f5f50;
    border-radius: 5px;
    width: 700px;
    padding: 50px;
}

.secao-cliente h1 {
    margin-bottom: 30px;
}

.div-novo-cliente {
    width: 667px;
    margin: 15px 0px;
}

.div-novo-cliente input {
    background-color: var(--cor-terciaria);
    border-width: 0.1px;
}

#nome-cliente {
    width: 400px;
    margin-left: 22px;
}

#cpf {
    margin-left: 39px;
}

#telefone {
    margin-left: 6px;
}

#endereco {
    width: 500px;
}

#endereco-modal {
    width: 400px
}

.div-botoes-cliente {
    margin-top: 55px;
    margin-bottom: 15px;
}

.btn-salvar-cliente,
.btn-cancelar-cliente {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-salvar-cliente {
    margin-right: 20px;
}

.btn-cancelar-cliente {
    margin-left: 20px;
}

.btn-salvar-cliente:active,
.btn-cancelar-cliente:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}

/* -------------------- css estoque -------------------- */
.estoque-id,
.estoque-descricao,
.estoque-qtd,
.estoque-und,
.estoque-preco {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #d4d4d4;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font-size: 1rem;
    margin: 0px;
    height: 56px;
}

.estoque-id {
    width: 13%;
}

.estoque-descricao {
    width: 59%;
}

.estoque-qtd {
    width: 5%;
}

.estoque-und {
    width: 5%;
}

.estoque-preco {
    width: 12%;
    border-right: 1px solid;
}

/* -------------------- css estoque - novo produto -------------------- */
.novo-produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f5f5f50;
    border-radius: 5px;
    width: 700px;
    padding: 50px;
}

.secao-produto h1 {
    margin-bottom: 30px;
}

.div-novo-produto {
    width: 667px;
    margin: 15px 0px;
}

.div-novo-produto input,
.div-novo-produto select {
    background-color: var(--cor-terciaria);
    border-width: 0.1px;
}

#descricao-produto {
    width: 400px;
    margin-left: 117px;
}

#categoria {
    margin-left: 116px;
}

#und {
    margin-left: 128px;
}

#custo {
    margin-left: 55px;
    width: 80px;
}

#preco {
    margin-left: 52px;
    width: 80px;
}

#estoque-atual {
    width: 60px;
    margin-left: 87px;
}

#estoque-minimo {
    width: 60px;
}

.div-botoes-produto {
    margin-top: 55px;
    margin-bottom: 15px;
}

.btn-salvar-produto,
.btn-cancelar-produto {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-salvar-produto {
    margin-right: 20px;
}

.btn-cancelar-produto {
    margin-left: 20px;
}

.btn-salvar-produto:active,
.btn-cancelar-produto:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}


/* -------------------- css contas a pagar -------------------- */
.contas-a-pagar-descricao,
.contas-a-pagar-valor,
.contas-a-pagar-vencimento,
.contas-a-pagar-pago {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #d4d4d4;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font-size: 1rem;
    margin: 0px;
    height: 56px;
}

.contas-a-pagar-descricao {
    width: 62%;
}

.contas-a-pagar-valor {
    width: 12%;
}

.contas-a-pagar-vencimento {
    width: 10%;
}

.contas-a-pagar-pago {
    width: 10%;
    border-right: 1px solid;
}

/* -------------------- css contas a pagar - cadastrar nova conta -------------------- */
.nova-conta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-contas-a-pagar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f5f5f50;
    border-radius: 5px;
    width: 700px;
    padding: 50px;
}

.secao-contas-a-pagar h1 {
    margin-bottom: 30px;
}

.div-contas-a-pagar {
    width: 550px;
    margin: 15px 0px;
}

.div-contas-a-pagar input {
    background-color: var(--cor-terciaria);
    border-width: 0.1px;
}

#descricao {
    width: 400px;
    margin-left: 16px;
}

#valor {
    margin-left: 25px;
}

#pagamento {
    margin-left: 22px;
}

.div-botoes-contas-a-pagar {
    margin-top: 55px;
    margin-bottom: 15px;
}

.btn-salvar-conta,
.btn-cancelar-conta {
    background-color: var(--cor-quaternaria);
    border-width: 0;
    box-shadow: 3px 3px 5px #000000;
    font-size: 1.2rem;
    padding: 5px 25px;
    border-radius: 2px;
    transition: 0.1s all;
}

.btn-salvar-conta {
    margin-right: 20px;
}

.btn-cancelar-conta {
    margin-left: 20px;
}

.btn-salvar-conta:active,
.btn-cancelar-conta:active {
    transform: scale(0.98);
    background-color: #87c9bc;
}